/* default is for mobile */
body{
    background-color: hsl(212,45%, 89%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

img{
    width: 375px;
    max-width: 100%;
    height:auto;
    /* border-radius: 20px;
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%) */
}

.frame1 {
    background-color: hsl(0, 0%, 100%);
    max-width: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 3%;
    border-radius: 5%;
    
    
    /* min-height: 60vh; */

    /* width: 55vw;
    border-radius: 20px;
    position:absolute;
    left:50%;
    margin-left: -187.5px;
    top: 50%;
    margin-top: -400px; */

}

.attribution{
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -112.258px;
}

/* for desktop */
@media screen and (min-width: 1440px) {
    body{background-color: red;}
}