/* default is for mobile */
body{
    background-color: hsl(212,45%, 89%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

img{
    width: 375px;
    max-width: 100%;
    height:auto;
    border-radius: 5%;
}

.frame1 {
    background-color: hsl(0, 0%, 100%);
    max-width: 80%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 3%;
    border-radius: 5%;
}

h1{
font-size: 1.5em;
width: 350px;
max-width: 100%;
text-align: center;
}

p{
font-size: 1em;
width: 350px;
max-width: 100%;
text-align: center;
}

.attribution{
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -112.258px;
}

/* for desktop */
@media screen and (min-width: 1440px) {
    body{background-color: red;}
}