/* default is for mobile */
body{
    background-color: hsl(212,45%, 89%);
    text-align: center;
}

img{
    width: 50vw;
    border-radius: 20px;
    position: relative;
    top:10px;
}

.frame1 {
    background-color: hsl(0, 0%, 100%);
    width: 55vw;
    border-radius: 20px;
    position:absolute;
    left:50%;
    margin-left: -187.5px;
    top: 50%;
    margin-top: -400px;

}

.attribution{
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -112.258px;
}

/* for desktop */
@media screen and (min-width: 1440px) {
    body{background-color: red;}
}